@import '../../../styles/variables';
button{
	width: 100px;
	height:40px;
	background-color: $licorice;
	padding: 0px !important;
	border: none;
	&:hover{
		background-color: #000000;
	}

	.active{
		color: #228DFF;
		text-shadow: 0px 0px 20px #228DFF, 0px 0px 20px #228DFF;
	}
	&:focus{
		outline: 0;
	}
}
