@import '../../../styles/variables';
button{
	width: 100px;
	height:40px;
	background-color: $licorice;
	padding: 0px !important;
	border: none;
	&:hover{
		background-color: #000000;
	}

	.active{
		color: $theme-hilight-colour;
		text-shadow: 0px 0px 20px $theme-hilight-colour, 0px 0px 20px $theme-hilight-colour;
	}
	&:focus{
		outline: 0;
	}
}
