/*
Colour scheme
*/
$licorice: 				#161414;
$outer-space:			#404E5C;
$paynes-grey:			#546A7B;
$midnight-green:		#084C61;
$metallic-seaweed:		#177E89;
$charleston-green:  	#282828;
$spanish-grey:			#999693;
$davys-grey: 			#575654;
// blue
$theme-hilight-colour: 	#228dff;
// red
$theme-hilight-colour: 	#ff0000;
// other
//$theme-hilight-colour: 	#00ffff;*/
